

body{
    margin: 0;
    padding: 0;
    background: url(insitebooks.jpg);
    background-size: cover;
    font-family: serif;
}



.newpassmsg{
    margin-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 450px;
    width: 750px;
    text-align: center;
    font-family: monospace;
    font-size: 22px;
    color: black;
    background-color: none;
}

.newpassbox{
  background-color: none; 
    position: absolute;
    color: black;
    top: 30%;
    left: 30%;
    font-size: 20px;
    width: 700px;
}

.newpassbox h2{
    color: black;
    font-size: 32px;
    float: inherit;
    text-align: left;
    width: 423px;
    border-bottom: 3px solid darkblue;
    font-family: monospace;
    margin-left: 6px;
    padding-bottom: 30px;
    
    
}

.newpass{
    width: 57%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px;
    margin: 8px;
    border-bottom: 2px solid darkblue;
}


.newpass input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 15px;
    width: 220px;
    float: left;
    margin: 10px;
    padding-left: 20px;
}

.newpassbtn{
    width:60%;
    background: none;
    border: 2px solid darkblue;
    color: black;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    margin: 8px;
    margin-bottom: 20px;
}

.newpassbox i{
    width: 16px;
    float: left;
    margin-bottom: -33px;
    padding-top: 10px;
}

.btngob{
    width:60%;
    background: none;
    border: 2px solid darkblue;
    color: black;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    margin: 8px;
    margin-bottom: 20px;
}
