

body{
    margin: 0;
    padding: 0;
    background: url(insitebooks.jpg);
    background-size: cover;
    font-family: serif;
}



.msg{
    margin-top: 70px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 450px;
    width: 750px;
    text-align: center;
    font-family: monospace;
    font-size: 22px;
    color: white;
    background-color: none;
}

.msg1{
    margin-top: 70px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 450px;
    width: 750px;
    text-align: center;
    font-family: monospace;
    font-size: 22px;
    color: white;
    background-color: none;
}